@import '../styles/colors';

.main {
  min-height: 100px;
  width: 100%;
  margin: 0px auto;
  border-radius: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  transition: background-color 0.2s;
}

.selected {
  background-color: $main-lightest !important;
}

.text {
  width: 80%;
  user-select: none;
  text-align: left;
  color: $light-gray;
  font-size: 20px;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.main:hover {
  background-color: $main-light;
}

@media screen and (max-width: 800px) {
  .text {
    text-align: center;
  }
}