@import '../styles/colors';

.main {
  width: 25vw;
  background-color: $main-dark;
  overflow-y: auto;
}

.slider {
  width: 100%;
}

.main::-webkit-scrollbar {
  width: 5px;
  padding-left: 2px;
}
.main::-webkit-scrollbar-track {
  background: transparent !important;
}
.main::-webkit-scrollbar-thumb {
  background: rgb(64, 50, 85);
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .main {
    display: none;
  }

  .full {
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center !important;
  }
}