.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.messagesContainer {
	flex-grow: 1;
  color: white;
  margin-left: 15px;
  padding-top: 10px;
  overflow-y: auto;
}

.messagesContainer::-webkit-scrollbar {
  width: 5px;
  padding-left: 2px;
}
.messagesContainer::-webkit-scrollbar-track {
  background: transparent !important;
}
.messagesContainer::-webkit-scrollbar-thumb {
  background: rgb(64, 50, 85);
  border-radius: 10px;
}

.messageContainer {
  margin-top: 15px;
}

.inputs {
	width: 100%;
	display: flex;
}

.input {
	flex-grow: 1;
	padding: 5px 15px 5px 15px;
  background-color: #272640;
  word-wrap: break-word;
  outline: none;
  border: none;
  height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(210, 198, 237);
  border-radius: 10px;
  height: 50px;
}

.send {
	width: 80px;
}