/*$main-darkest: #03002e;
$main-dark: #010048;
$main: #414d5a;
$main-light: #02006c;
$main-lightest: #090088;*/

$main-darkest: #111120;
$main-dark: #181829;
$main: #1f1f35;
$main-light: #272640; //done
$main-lightest: #090088;


$darkest-gray: #9a9a9a;
$dark-gray: #bbbbbb;
$gray: #cccccc;
$light-gray: #dddddd;
$lightest-gray: #eeeeee;