@import './colors';

@font-face {
  font-family: 'filson';
  src: local('filson'), url(../public/fonts/FilsonProBold-Bold.otf) format('opentype');
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100vw;
}

html {
  font-family: filson;
}

.roomsPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.roomsPageContainer {
  display: flex;
  flex-grow: 1;;
  width: 100%;
  overflow: hidden;
}

.roomsPageMain {
  flex-grow: 1;
  background: rgb(35,24,43);
  background: linear-gradient(140deg, rgba(35,24,43,1) 0%, rgba(35,30,70,1) 42%, rgba(35,31,73,1) 50%, rgba(35,26,70,1) 58%, rgba(35,24,43,1) 100%);
}

@media screen and (max-width: 800px) {
  .roomsPageMainInvisible {
    display: none;
  }
}